<section class=" col-sm-8 col-md-9 col-xxl-10 pt-5 ps-sm-5">
    <h1 class="mt-sm-5 ms-3 mb-5 fs-1">Доходы и расходы</h1>
    <div class="d-flex align-items-center mb-5">
        <button type="button" class="btn btn-success me-2" name="create-button">Создать доход</button>
        <button type="button" class="btn btn-danger" name="create-button">Создать расход</button>
    </div>
    <div class="mb-5" id="filter-content"></div>
    <div class="mb-5 overflow-auto">
        <table class="table border-top border-bottom">
            <thead class="border-bottom">
            <tr>
                <th scope="col">№ Операции</th>
                <th scope="col">Тип</th>
                <th scope="col">Категория</th>
                <th scope="col">Сумма</th>
                <th scope="col">Дата</th>
                <th scope="col">Комментарий</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody id="table"></tbody>
        </table>
    </div>
</section>
