

    <a href="#/"
       class="d-flex align-items-center justify-content-center mb-3 mb-md-0 link-dark text-decoration-none p-3 pt-5">
                    <span class="logo ">
                        <img src="images/Logo.png" alt="Логотип">
                    </span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto p-3 mt-5">
        <li class="nav-item ">
            <a href="#/" class="nav-link link-dark" aria-current="page" meta-name="main">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-house " viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                          d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
                    <path fill-rule="evenodd"
                          d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
                </svg>
                <span class="ms-2 lh-1 ">Главная</span>
            </a>
        </li>
        <li>
            <a href="#/income-and-expenses" class="nav-link link-dark" meta-name="main">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-cash-coin" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                          d="M11 15a4 4 0 1 0 0-8 4 4 0 0 0 0 8zm5-4a5 5 0 1 1-10 0 5 5 0 0 1 10 0z"/>
                    <path d="M9.438 11.944c.047.596.518 1.06 1.363 1.116v.44h.375v-.443c.875-.061 1.386-.529 1.386-1.207 0-.618-.39-.936-1.09-1.1l-.296-.07v-1.2c.376.043.614.248.671.532h.658c-.047-.575-.54-1.024-1.329-1.073V8.5h-.375v.45c-.747.073-1.255.522-1.255 1.158 0 .562.378.92 1.007 1.066l.248.061v1.272c-.384-.058-.639-.27-.696-.563h-.668zm1.36-1.354c-.369-.085-.569-.26-.569-.522 0-.294.216-.514.572-.578v1.1h-.003zm.432.746c.449.104.655.272.655.569 0 .339-.257.571-.709.614v-1.195l.054.012z"/>
                    <path d="M1 0a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h4.083c.058-.344.145-.678.258-1H3a2 2 0 0 0-2-2V3a2 2 0 0 0 2-2h10a2 2 0 0 0 2 2v3.528c.38.34.717.728 1 1.154V1a1 1 0 0 0-1-1H1z"/>
                    <path d="M9.998 5.083 10 5a2 2 0 1 0-3.132 1.65 5.982 5.982 0 0 1 3.13-1.567z"/>
                </svg>
                <span class="ms-2 lh-1 ">Доходы и расходы</span>
            </a>
        </li>
        <li>
            <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseOne" aria-expanded="false"
                                aria-controls="flush-collapseOne" id="accordion-button">
                            Категории
                        </button>
                    </h2>
                    <div id="flush-collapseOne" class="accordion-collapse collapse"
                         aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">

                        <ul class="accordion-body nav nav-pills flex-column mb-auto p-0 ">
                            <li class="nav-item ">
                                <a href="#/income" class="nav-link active" aria-current="page">
                                    <span class="ms-2 lh-1 ">Доходы</span>
                                </a>
                            </li>
                            <li class="nav-item ">
                                <a href="#/expense" class="nav-link " aria-current="page">
                                    <span class="ms-2 lh-1 ">Расходы</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </li>
    </ul>

    <div class="p-3 d-flex" id="wrapBalance">
        <span id="parentBalance">Баланс <a class="text-primary btn" id="balance" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Изменить баланс"></a></span></div>
    <hr>
    <div class="dropdown p-3 dr">
        <a href="javascript: void(0)" class="d-flex align-items-center link-dark text-decoration-none "
           data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="dropdown_ico ">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-person" viewBox="0 0 16 16">
                                <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                            </svg>
                        </span>

            <div id="full-name"></div>
        </a>
        <ul class="dropdown-menu text-small shadow">
            <li><a class="dropdown-item" href="#/logout" >Logout</a></li>
        </ul>
    </div>

